$bgcolor:(
    "primary":#fee9f0,
    "secondary":#f4f8f9,
    "white":#f1f1f1,
    "white2":#ffff,
    "black":#303030,
    "pink":#fe376d,
);

$textColor:(
    "primary":#83787c,
    "secondary": #1c191a,
    "pink":#fe376d,
    "white":#fee9f0,
);

$h1:32px;
$h2:24px;
$h3:20px;
$h4:16px;
$h5:14px;

$fwBold:700;
$fwMedium:600;
$fwRegular:500;
$fwLight:300;